docs/dhx.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xrd="http://x-road.eu/xsd/xroad.xsd" xmlns:tns="http://dhx.x-road.eu/producer"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:repr="http://x-road.eu/xsd/representation.xsd" targetNamespace="http://dhx.x-road.eu/producer">
	<wsdl:types>
		<schema xmlns:ref="http://ws-i.org/profiles/basic/1.1/xsd"
			xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
			targetNamespace="http://dhx.x-road.eu/producer">
			<import namespace="http://ws-i.org/profiles/basic/1.1/xsd"
				schemaLocation="http://ws-i.org/profiles/basic/1.1/swaref.xsd" />
			<import namespace="http://x-road.eu/xsd/xroad.xsd"
				schemaLocation="http://x-road.eu/xsd/xroad.xsd" />
			<import namespace="http://x-road.eu/xsd/representation.xsd"
				schemaLocation="http://x-road.eu/xsd/representation.xsd" />
			<element name="sendDocument">
				<complexType>
					<sequence>
						<element name="recipient" type="string" maxOccurs="1"
							minOccurs="0">
							<annotation>
								<appinfo>
									<xrd:title>Recipient code. Needed if representee is used.
									</xrd:title>
								</appinfo>
							</annotation>
						</element>
						<element name="recipientSystem" type="string" maxOccurs="1"
							minOccurs="0">
							<annotation>
								<appinfo>
									<xrd:title>Recipient subSystem name. Needed if representee is
										used and document is sent to representees subsystem.
									</xrd:title>
								</appinfo>
							</annotation>
						</element>
						<element name="consignmentId" type="string" maxOccurs="1"
							minOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Unique package id.
										If same document is sent several
										times(if failed for the first
										time for example) then package id
										must stay the same
									</xrd:title>
								</appinfo>
							</annotation>
						</element>
						<element name="documentAttachment" type="ref:swaRef"
							maxOccurs="1" minOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Attachment (with swaRef
										description)
									</xrd:title>
								</appinfo>
							</annotation>
						</element>
						<any namespace="##other" processContents="skip" minOccurs="0"
							maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="sendDocumentResponse">
				<complexType>
					<sequence>
						<element name="fault" type="tns:fault" maxOccurs="1"
							minOccurs="0" />
						<element name="receiptId" type="string" maxOccurs="1"
							minOccurs="1" />
						<any namespace="##other" processContents="skip" minOccurs="0"
							maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="representationList">
				<complexType>
					<sequence>
						<any namespace="##other" processContents="skip" minOccurs="0"
							maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="representationListResponse">
				<complexType>
					<sequence>
						<element name="representees" type="tns:representees" />
						<any namespace="##other" processContents="skip" minOccurs="0"
							maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<complexType name="representees">
				<sequence>
					<element name="representee" type="tns:representee"
						maxOccurs="unbounded" minOccurs="0" />
				</sequence>
			</complexType>
			<complexType name="representee">
				<sequence>
					<element name="memberCode" type="string" maxOccurs="1"
						minOccurs="1" />
					<element name="representeeName" type="string" maxOccurs="1"
						minOccurs="1" />
					<element name="representeeSystem" type="string" maxOccurs="1"
						minOccurs="0">
						<annotation>
							<appinfo>
								<xrd:title>Recipient subSystem name.
								</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="startDate" type="dateTime" maxOccurs="1"
						minOccurs="1" />
					<element name="endDate" type="dateTime" maxOccurs="1"
						minOccurs="0" />
				</sequence>
			</complexType>
			<complexType name="fault">
				<sequence>
					<element name="faultCode" type="string">
						<annotation>
							<appinfo>
								<xrd:title>Fault Code</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="faultString" type="string">
						<annotation>
							<appinfo>
								<xrd:title>Fault explanation</xrd:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="requestHeader">
		<wsdl:part name="client" element="xrd:client" />
		<wsdl:part name="service" element="xrd:service" />
		<wsdl:part name="representedParty" element="repr:representedParty" />
		<wsdl:part name="id" element="xrd:id" />
		<wsdl:part name="userId" element="xrd:userId" />
		<wsdl:part name="requestHash" element="xrd:requestHash" />
		<wsdl:part name="issue" element="xrd:issue" />
		<wsdl:part name="protocolVersion" element="xrd:protocolVersion" />
	</wsdl:message>

	<wsdl:message name="sendDocument">
		<wsdl:part name="body" element="tns:sendDocument" />
	</wsdl:message>
	<wsdl:message name="sendDocumentResponse">
		<wsdl:part name="body" element="tns:sendDocumentResponse" />
	</wsdl:message>

	<wsdl:message name="representationList">
		<wsdl:part name="body" element="tns:representationList" />
	</wsdl:message>
	<wsdl:message name="representationListResponse">
		<wsdl:part name="body" element="tns:representationListResponse" />
	</wsdl:message>

	<wsdl:portType name="dhxPortType">
		<wsdl:operation name="sendDocument">
			<wsdl:documentation>
				<xrd:title>Send document</xrd:title>
				<xrd:notes>Operation is sending document.</xrd:notes>
				<xrd:techNotes></xrd:techNotes>
			</wsdl:documentation>
			<wsdl:input message="tns:sendDocument" />
			<wsdl:output message="tns:sendDocumentResponse" />
		</wsdl:operation>
		<wsdl:operation name="representationList">
			<wsdl:documentation>
				<xrd:title>Representation list</xrd:title>
				<xrd:notes>Operation is returning representation list.</xrd:notes>
				<xrd:techNotes></xrd:techNotes>
			</wsdl:documentation>
			<wsdl:input message="tns:representationList" />
			<wsdl:output message="tns:representationListResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="dhxBinding" type="tns:dhxPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sendDocument">
			<soap:operation soapAction="" style="document" />
			<xrd:version>v1</xrd:version>
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:requestHeader" part="client"
					use="literal" />
				<soap:header message="tns:requestHeader" part="service"
					use="literal" />
				<soap:header message="tns:requestHeader" part="representedParty"
					use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId"
					use="literal" />
				<soap:header message="tns:requestHeader" part="issue"
					use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:requestHeader" part="client"
					use="literal" />
				<soap:header message="tns:requestHeader" part="service"
					use="literal" />
				<soap:header message="tns:requestHeader" part="representedParty"
					use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId"
					use="literal" />
				<soap:header message="tns:requestHeader" part="requestHash"
					use="literal" />
				<soap:header message="tns:requestHeader" part="issue"
					use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="representationList">
			<soap:operation soapAction="" style="document" />
			<xrd:version>v1</xrd:version>
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:requestHeader" part="client"
					use="literal" />
				<soap:header message="tns:requestHeader" part="service"
					use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId"
					use="literal" />
				<soap:header message="tns:requestHeader" part="issue"
					use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:requestHeader" part="client"
					use="literal" />
				<soap:header message="tns:requestHeader" part="service"
					use="literal" />
				<soap:header message="tns:requestHeader" part="id" use="literal" />
				<soap:header message="tns:requestHeader" part="userId"
					use="literal" />
				<soap:header message="tns:requestHeader" part="requestHash"
					use="literal" />
				<soap:header message="tns:requestHeader" part="issue"
					use="literal" />
				<soap:header message="tns:requestHeader" part="protocolVersion"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="dhxService">
		<wsdl:port binding="tns:dhxBinding" name="dhxServicePort">
			<soap:address location="http://TURVASERVER" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
